.bookmark{
    float: right;
}
body{
    background-image: url("../images/times_building1600.png");
    background-repeat: no-repeat;
}
nav{
    height: 150px;
    margin-bottom: 20px;
    font-family: 'Special Elite', cursive;
}
.search-background{
    opacity: .75;
}
.collapsible-header{
    font-family: 'Special Elite', cursive;
}
